uorb start
qshell start

param set SYS_AUTOSTART 4001
param set SYS_MC_EST_GROUP 1
param set ATT_EXT_HDG_M 2

param set LPE_FUSION 0
param set LPE_VIC_P 0.001
param set LPE_PN_V 0.5
param set LPE_T_MAX_GRADE 0.0

param set ATT_ACC_COMP 0
param set ATT_MAG_DECL_A 0 
param set ATT_W_MAG 0.00
#param set SENS_BOARD_ROT 0

param set COM_OF_LOSS_T 10

param set MC_YAWRATE_I 0.00
param set MC_YAWRATE_P 0.40

param set MPC_ACC_UP_MAX 5.0
param set MPC_TKO_SPEED	 1.80
param set MPC_XY_VEL_D   0.030
param set MPC_XY_VEL_P   0.15
param set MPC_Z_P        1.50
param set MPC_Z_VEL_I    0.08
param set MPC_Z_VEL_P    0.40


param set MAV_TYPE 2

sleep 1

#df_hmc5883_wrapper start
df_mpu9250_wrapper start
df_bmp280_wrapper start
#df_trone_wrapper start
#df_isl29501_wrapper start
sensors start
commander start
attitude_estimator_q start
local_position_estimator start
land_detector start multicopter
mc_pos_control start
mc_att_control start
uart_esc start -D /dev/tty-2